/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --darkblue: #093640;
    --brightgrey: #C1D4D9;
    --orange: #F24535;
    --red: #D94E41;
    --softred: #BF0436;
    --blue: #375A66;
    --grey: #96ABB3;
    --brightblue: #7ECFEA;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: 'Oxygen', sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--darkblue);
    color: var(--brightgrey);
    font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a {
    color: var(--red);
    text-decoration: underline;
}

a:hover {
    color: var(--orange);
    text-decoration: none;
}

/* Intro styles */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro div,
#intro p {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

#greating {
    margin: 0 0;
}

#intro .name {
    font-family: var(--mono);
}

#name {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--orange);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

#intro span.technologie {
    color: var(--brightblue);
}

/* contact section */

#contact {
    background-color: var(--softred);
    width: auto;
    color: var(--brightgrey);
}

#contact #contact-content {
    width: 400px;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;

}


#contact p:last-child {
    padding-top: 2rem;
}


#contact a {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    color: var(--brightgrey);
    background-color: var(--darkblue);
    text-decoration: none;
}

#contact a:hover {
    color: var(--darkblue);
    background-color: var(--blue);
}

/* navbar */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {
    color: var(--brightgrey);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--blue);
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--red);
}

nav h1 [class*="fa-code"] {
    margin-right: 1rem;
    font-size: 100%;
}

.button {
    background-color: var(--orange);
    padding: 0.2rem 1rem;
    border-radius: 5px;
    color: var(--darkblue);
}

.button:hover {
    background-color: var(--blue);
    color: var(--brightgrey);
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

/* footer */

footer {
    margin: 4rem 0;
    text-align: center;
}

footer ul {
    padding: auto;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}


footer [class*="fa-"] {
    font-size: 150%;
    color: var(--red);
}

footer [class*="fa-"]:hover {
    color: var(--blue);
}

/* projects */

#projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
    color: var(--brightgrey);
}

#projects h2 {
    font-size: 2.5rem;
}

#projects-background {
    background-color: var(--blue);
}

.project-description h3 {
    color: var(--brightblue);
}

.project-description h4 {
    font-size: 1rem;
    font-family: var(--mono);
}

.project-description p {
    background-color: var(--brightblue);
    color: var(--darkblue);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 15px;
    font-size: 1rem;
    font-family: var(--sans);
    line-height: 1.5;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

.project-image {
    border-left: 3px solid var(--brightblue);
    border-top: 3px solid var(--brightblue);
    border-radius: 25px;
    margin: 2rem 0 0 0;
    padding: 1rem;
}

.project-image img {
    border-radius: 12px;
    width: 100%;
}

.project,
.project-reverse {
    padding-top: calc(2.5rem * 1.5);
}

@media (min-width: 550px) {
    .project {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .project-description {
        order: 2;
        grid-column: 5/11;
        grid-row: 1/2;
        text-align: right;
    }

    .project-description li {
        color: var(--brightblue);
    }

    .project-image {
        margin-top: 0;
        grid-column: 1/6;
        grid-row: 1/2;
    }

    #projects .project ul {
        justify-content: flex-end;
    }

    .project-reverse {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .project-reverse .project-description {
        grid-column: 1/7;
        grid-row: 1/2;
        text-align: left;
    }

    .project-reverse .project-image {
        border-left: hidden;
        border-right: 3px solid var(--brightblue);
        grid-column: 6/11;
        grid-row: 1/2;

    }
}